# Object file
*.o

cli/lispcli

# Code coverage
*.gcov
*.gcda
*.gcno
summary-cov.txt

# Ada Library Information
*.ali
*.stderr
*.stdout
*.bexch
lisp
lisp.exe
*.db
*.db-shm
*.db-wal
*.cgpr
*.db
b__lisp.ad*
lib/*
obj/*
*/lib/*
*/obj/*
*.cswi
*.lexch

# Alire directories
alire/*
*/alire/*
config/*
*/config/*

# Latex auxiliary files
*.aux
*.log
*.synctex.gz
*.toc

