# Object file
*.o

# Code coverage
*.gcov
*.gcda
*.gcno

# Ada Library Information
*.ali
*.stderr
*.stdout
*.bexch
lisp
lisp.exe
*.db
*.db-shm
*.db-wal
*.cgpr
*.db
b__lisp.ad*
lib/*
obj/*
*.cswi
*.lexch

# Latex auxiliary files
documentation/*.aux
documentation/*.log
documentation/*.synctex.gz
documentation/*.toc

